beautifulsoup4~=4.9.1
requests~=2.24.0
twitter
tweepy~=3.9.0
pymysql
pymongo~=3.11.0
apscheduler~=3.6.3
pandas~=1.1.1
google-api-python-client
robobrowser~=0.5.3
chardet
Werkzeug==0.16.1
selenium==3.0
SPARQLWrapper~=1.8.5
lxml~=4.5.2
cssselect
fake-useragent
xlsxwriter